<h1><%= @board.name %></h1>
<br>
<%= link_to 'Add List', new_board_list_path(@board), class: "ui blue button inverted" %>
<%= link_to 'Edit Board', edit_board_path(@board), class: "ui blue button inverted" %>
<br>
<br>
<hr>
  <div class="ui cards">
    <% @board.lists.each do |list| %>
      <div class="ui blue card">
        <div class="title">
          <h3 align="center"><%= list.name %></h3>
          <hr>
          <%= link_to 'Edit List', edit_board_list_path(@board, list), class: "ui blue button inverted" %>
          <%= link_to 'Delete List', board_list_path(@board, list), method: :delete, class: "ui red button inverted" %>
          <hr>
            <% list.tasks.each do |task| %>
              <h5><%= task.name %></h5>
              <p>Due:  <%= task.date_due %></p>
              <p>Done:  <%= task.date_done %></p>
              <%= link_to 'Edit Task', edit_list_task_path(list, task) %>
              <br>
            <% end %>
            <hr>
            <%= link_to 'Add Task', new_list_task_path(list), class: "ui blue button inverted" %>
          <br>
          <hr>          
          <%# link_to 'Add Task', new_list_task_path(@list), class: "ui blue button inverted" %>
        </div>
      </div>
    <% end %>
  </div>
<br>
<hr>
<br>
<%= link_to 'Delete Board', board_path(@board), method: :delete, class: "ui red button inverted" %>
